extends layout

block content
    script(type="text/javascript")
        $(document).ready(function() {
            $('.delete-post').click(function() {
                if (confirm('Are you sure you want to delete this post?'))
                {
                    var id = $(this).attr('post-id');
                    $.post('/admin/posts/delete/' + id)
                        .success(function(data) {
                            if (data.success)
                            {
                                $('#post-' + id).remove();
                            }
                        });
                }
            });
        });

    table.zebra-striped.bordered-table
        thead
            tr
                th Title
                th Publish Date
                th Comments
                th Hidden
                th
        tbody
        - each post in posts
            tr(id='post-' + post._id)
                td!=post.title
                td!=post.displayDate
                td!=post.commentCount
                td!=post.hidden
                td
                    a.btn.small(href='/posts' + post.path) View
                    a.btn.small.leftspace(href='/admin/posts/' + post._id) Edit
                    a.btn.small.leftspace.danger.delete-post(href='javascript: //Delete', post-id=post._id) Delete
    a.btn.primary(href="/admin") Back