<meta property="og:title" content="#{ogTitle}"/>
<meta property="og:url" content="#{ogUrl}"/>
<meta property="og:image" content="#{ogImageUrl}"/>
<meta property="og:description" content="#{ogDescription}"/>
<meta property="og:site_name" content="#{ogSiteName}"/>
<meta property="og:type" content="article"/>
<meta property="fb:app_id" content="#{fbAppId}"/>