extends ../layout

block scripts
    script(type="text/javascript", src="/public/highlight/highlight.pack.js")
    script(type="text/javascript")
        $(document).ready(function() {
            $('.pagination li:not(.disabled) a').click(function() {
                if (window.location.search)
                {
                    window.location = updateQueryStringParameter(window.location.search, 'page', $(this).attr('pg'));
                }
                else
                    window.location = "/?page=" + $(this).attr('pg');
            });
        });

block styles
    link(rel="stylesheet", type="text/css", href="/public/highlight/styles/github.css")

block content
    script(type="text/javascript")
        hljs.initHighlightingOnLoad();

    - each post in posts
        article
            header
                h3
                    a(href=post.path)=post.title
                em posted @ #{post.displayDate}

            p!=post.htmlbody

            p: span.fb-action
                a.btn.small(href=post.path) Comments (#{post.commentCount})

        hr
            
    if pageCount > 1
        !=partial('paging', { pageCount: pageCount, pages: pages, currentPage: currentPage })

block sidebar
    span tags
        ul
        - each tag in tags
            li: a(href="/?tags=" + tag.name) #{tag.name} (#{tag.count})

    