link(rel="stylesheet", type="text/css", href="/public/highlight/styles/github.css")

script(type="text/javascript", src="/public/highlight/highlight.pack.js")

script(type="text/javascript")
    hljs.initHighlightingOnLoad();
    $(document).ready(function() {
        LB.init('#{fbAppId}');
    });

div.left
    - each post in posts
        article
            header
                h4
                    a(href='/posts' + post.path)!=post.title
                span posted #{post.displayDate}

            div!=post.htmlbody
                p
            footer
                span.fb-action
                    a(href="/posts" + post.path) Comments (#{post.commentCount})

        hr

div.right
    span tags