extends ../layout

block scripts
    script(type="text/javascript", src="/public/highlight/highlight.pack.js")

block styles
    link(rel="stylesheet", type="text/css", href="/public/highlight/styles/github.css")

block content
    script(type="text/javascript")
        hljs.initHighlightingOnLoad();
        $(document).ready(function() {
            LB.init('#{fbAppId}');
        });


    - each post in posts
        article
            header
                h3
                    a(href='/posts' + post.path)!=post.title
                em posted #{post.displayDate}

            p!=post.htmlbody
                
            p: span.fb-action
                a.btn(href="/posts" + post.path) Comments (#{post.commentCount})

        hr

block sidebar
    span tags