link(rel="stylesheet", type="text/css", href="/public/highlight/styles/solarized_dark.css")

script(type="text/javascript", src="/public/highlight/highlight.pack.js")

script(type="text/javascript")
    hljs.initHighlightingOnLoad();

    LB.init('#{fbData.fbAppId}',
        function() {
            $(document).queue(LB.setupCommenting);
        });

div.left
    article
        header
            h3!=post.title

        div!=post.htmlbody

        footer
            span!=post.createDate
    div.comments
        - each comment in post.comments
            p
                div!=comment.name
                div!=comment.message
                div!=comment.createDate
    div(class="login hide")
        input#login-button(type="button", value="Login")
    div(class="add-comment hide")
        p Name:
            span#comment-user
        p Message:
            textarea#comment-message
        a#comment-link(href="javascript: //comment", post-id="#{post._id}") add comment
div.right
    div Tags
        ul
          - each tag in post.tags
            li!=tag