extends ../layout

block scripts
    script(type="text/javascript", src="/public/highlight/highlight.pack.js")
    script(type="text/javascript", src="/public/scripts/jquery.tmpl.min.js")

block styles
    link(rel="stylesheet", type="text/css", href="/public/highlight/styles/github.css")

block metas
    <meta property="og:title" content="#{fbData.ogTitle}"/>
    <meta property="og:url" content="#{fbData.ogUrl}"/>
    <meta property="og:image" content="#{fbData.ogImageUrl}"/>
    <meta property="og:description" content="#{fbData.ogDescription}"/>
    <meta property="og:site_name" content="#{fbData.ogSiteName}"/>
    <meta property="og:type" content="lameblog:article"/>
    <meta property="fb:app_id" content="#{fbData.fbAppId}"/>

block content
    script#commentTemplate(type="text/x-jquery-tmpl")
        div
            div.comment-header
                div.comment-header-content
                    strong ${name}
                    span.separator |
                    span Posted ${displayDate}

            div.comment-body ${message}

    script(type="text/javascript")
        hljs.initHighlightingOnLoad();

        LB.init('#{fbData.fbAppId}',
            function() {
                $(document).queue(LB.setupCommenting);

                $.ajax('')
                $("#commentTemplate");
            });

        $(document).ready(function() {

            
        });

    article
        header
            h3!=post.title
            em published @ #{post.displayDate}

        p!=post.htmlbody

        if (post.tags.length > 0)
            p.topgap: small filed under:
                - each tag in post.tags
                    a(href="/?" + tag): span.label.leftspace!=tag


        footer
            div.fb-like(data-send="true", data-width="450", data-layout="button_count", data-href=fbData.ogUrl, data-show-faces="false")
    div.comments
        h4#comment-list Comments
        - each comment in post.comments
            div
                div.comment-header
                    div.comment-header-content
                        strong!=comment.name
                        span.separator |
                        span Posted #{comment.displayDate}

                div.comment-body!=comment.message
    div.padded-bottom
        span(class="login hide")
            div.fb-login-button(data-show-faces="false", data-width="200", data-max-rows="2", onlogin="LB.setupCommenting()") Login to comment
        span(class="add-comment hide")
            h5.small Leave a Comment
            p Logged in as
                span.separator :
                span#comment-user(class="label")

            p: textarea#comment-message(rows="5", class="xxlarge span11")
            a#fb-logout(class="btn small", href="javascript: //Logout") Logout of FB
            a#comment-link(class="btn small primary pull-right", href="javascript: //comment", post-id="#{post._id}") Add Comment
        
block sidebar
    div Recent Posts
        ul
          - each post in recent
            li: a(href='/posts' + post.path)!=post.title
    div Related Posts
        ul
          - each post in related
            li: a(href='/posts' + post.path)!=post.title