link(rel="stylesheet", type="text/css", href="/public/highlight/styles/solarized_dark.css")

script(type="text/javascript", src="/public/highlight/highlight.pack.js")
script(type="text/javascript", src="/public/scripts/jquery.tmpl.min.js")

script#commentTemplate(type="text/x-jquery-tmpl")
    div
        p.comment-header
            strong ${name}
            span |
            span ${displayDate}
        div.comment-body ${message}

script(type="text/javascript")
    hljs.initHighlightingOnLoad();

    LB.init('#{fbData.fbAppId}',
        function() {
            $(document).queue(LB.setupCommenting);
        });

div.left
    article
        header
            h3!=post.title
            span published @ #{post.displayDate}

        div!=post.htmlbody

        footer
            div.fb-like(data-send="true", data-width="450", data-show-faces="false")
    div.comments
        h4 Comments
        - each comment in post.comments
            div
                p.comment-header
                    strong!=comment.name
                    span |
                    span!=comment.displayDate

                div.comment-body!=comment.message
    div
        span(class="login hide")
            div.fb-login-button(data-show-faces="false", data-width="200", data-max-rows="1", onlogin="LB.setupCommenting()") Login to comment
        span(class="add-comment hide")
            strong.small Leave a Comment
            p Name:
                span#comment-user
            textarea#comment-message
            a#comment-link(href="javascript: //comment", post-id="#{post._id}") add comment
        
div.right
    div Tags
        ul
          - each tag in post.tags
            li!=tag